<?xml version="1.0"?>
<launch>
    <arg name="bag_name" />
    <arg name="camera_info_bag" />
    <!-- <node pkg="rosbag" type="play" name="camera_info_player" output="screen" args="-l clock $(arg camera_info_bag)" /> -->
    <node pkg="rosbag" type="play" name="player" args="-l --clock $(arg bag_name)" /> 
    
    <node pkg="tf" type="static_transform_publisher" name="world2cam" args="0.04 -0.043 0.1 1.57 3.14 1.57 world d435_color_optical_frame 10" />
    <node pkg="tf" type="static_transform_publisher" name="world2velo" args="0 0 0 0 0 0 world velodyne 10" />

    <!-- passthrough filter to remove far away points
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
        <remap from="~input" to="/velodyne_points" />
        <rosparam>
          filter_field_name: x
          filter_limit_min: 0.01
          filter_limit_max: 2.0
          filter_limit_negative: False
        </rosparam>
    </node> -->
    <node pkg="segmentation" name="segmentation_node" type="segmentation_node" output="screen">
        <rosparam command="load" file="$(find segmentation)/config/config.yaml" />
    </node> 

    <node pkg="point_painting" name="point_painting_node" type="point_painting_node" output="screen">
        <rosparam command="load" file="$(find point_painting)/config/config.yaml" />
    </node> 

</launch>
