build/
.catkin_workspace
.vscode/
old/
point_painting/**/libtorch/
point_painting/**/.bag
point_painting/**/devel/
point_painting/**/build/
standalone/**/libtorch/
standalone/**/build/
standalone/**/libtorch/
standalone/**/file_assets/
standalone/*
inference_server/
*.bag
*.swp
*.pt
