aiortc==0.9.28
bosdyn-api==2.0.0
bosdyn-client==2.0.0
bosdyn-core==2.0.0
bosdyn-mission==2.0.0
msgpack==0.6.2
numpy==1.17.3
netifaces==0.10.9
opencv-contrib-python==4.1.1.26
Pillow==6.2.0
requests==2.24.0
websockets==8.0.2
